@using Core
@using Core.ViewModels;
@model Core.ViewModels.StudentDashboardViewModel
@{
	ViewData["Title"] = "Index";
	Layout = ViewBag.Layout;
}

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Welcome @Utility.GetCurrentUser().FullName!</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Dashboard</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-md-6 d-flex">
				<div class="card card-table flex-fill">
					<div class="card-header">
						<h3 class="card-title mb-0">Quiz</h3>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table custom-table mb-0">
								<thead>
									<tr>
										<th>Course Code</th>
										<th>Date Created</th>
										<th>Lecturer</th>
										<th>File</th>
									</tr>
								</thead>
								@if (Model.QuizViewModel != null && Model.QuizViewModel.Any())	
								{
									<tbody>
										@foreach (var quiz in Model.QuizViewModel)
										{
											<tr>
												<td>@quiz.CourseCode</td>
												<td>@quiz.DateCreated</td>
												<td>@quiz.Lecturer</td>
												<td>
													<div class="dropdown action-label">
														<a class="btn btn-white btn-sm btn-rounded" href="@quiz.QuestionFile"><i class="fa fa-dot-circle-o text-success"></i> File</a>
													</div>
												</td>
											</tr>
										}
									</tbody>
								}

								
							</table>
						</div>
					</div>
					<div class="card-footer">
						<a href="#">View all quiz</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 d-flex">
				<div class="card card-table flex-fill">
					<div class="card-header">
						<h3 class="card-title mb-0">Study Material</h3>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table custom-table mb-0">
								<thead>
									<tr>
										<th>Course Code</th>
										<th>Date Created</th>
										<th>Lecturer</th>
										<th>File</th>
									</tr>
								</thead>
								@if (Model.StudyMaterials != null && Model.StudyMaterials.Any())
								{
									<tbody>
										@foreach (var courses in Model.StudyMaterials)
										{
											<tr>
												<td>@courses.Code</td>
												<td>@courses.DateCreated</td>
												<td>@courses.LecturerName</td>
												<td>
													<div class="dropdown action-label">
														<a class="btn btn-white btn-sm btn-rounded" href="@courses.File"><i class="fa fa-dot-circle-o text-success"></i> File</a>
													</div>
												</td>
											</tr>
										}
									</tbody>
								}

								
							</table>
						</div>
					</div>
					<div class="card-footer">
						<a href="#">View all materials</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /Page Wrapper -->
