@using Core
@using Core.ViewModels;
@model Core.ViewModels.LectuereDashboardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = ViewBag.Layout;
}

<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome @Utility.GetCurrentUser().FullName!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h3 class="card-title mb-0"> Recent Courses</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Level</th>
                                        <th>Semester</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                @if (Model?.CourseViewModels.Count() > 0 && Model.CourseViewModels != null)
                                {
                                    <tbody>
                                        @foreach (var courses in Model.CourseViewModels)
                                        {
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">

                                                        <a href="client-profile.html"> @courses.Code</a>
                                                    </h2>
                                                </td>
                                                <td>@courses.Name</td>

                                                <td>@courses.Level</td>

                                                <td>@courses.Semester</td>

                                                <td>
                                                    <a asp-route-courseId="@courses.Id" asp-controller="Admin" asp-area="" asp-action="Materials" class="btn add-btn text-white"><i class="fa fa-book"></i>Materials</a>
                                                </td>

                                            </tr>


                                        }


                                    </tbody>
                                }

                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="clients.html">View all recent courses</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h3 class="card-title mb-0"> Recent Quiz Answers</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                    
                                    <tr>
                                        <th>Course Code</th>
                                        <th> Student Name</th>
                                        <th>File</th>
                                        <th>Date submitted</th>
                                    </tr>
                                </thead>
                                @if (Model?.QuizAnswers.Count() > 0 && Model.QuizAnswers != null)
                                {
                                    <tbody>
                                        @foreach (var quizAnswers in Model.QuizAnswers)
                                        {
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">

                                                        <a href="client-profile.html"> @quizAnswers.CourseCode</a>
                                                    </h2>
                                                </td>
                                                <td>@quizAnswers.StudentFullName</td>
                                                <td>
                                                    <a class="btn btn-white btn-sm btn-rounded" target="_blank" href="@quizAnswers.AnswerFile"><i class="fa fa-dot-circle-o text-success"></i> View </a>
                                                </td>
                                                <td>@quizAnswers.DateSubmitted</td>
                                            </tr>
                                        }

                                    </tbody>
                                }

                                      
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="clients.html">View all recent QuizAnswers</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->

